IAW/django_project/
IAW/django_project/
IAW/proyecto/
ASO/lolenxcul/informatica nogk/INFORMATICA 23-24/LENGUAJE DE MARCAS/TRIMESTRE 2/JAVASCRIPT/git
# Archivos temporales de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

# Otros temporales
*.out
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
