#dias{
	background-color: skyblue;
}

#horario1{
	text-align: center;
	background-color: indianred;
}

#recre{
	text-align: center;
	background-color: lightgreen;
}

.horas {
	background-color: lightpink;
}