*{
  margin: 0 auto;
}

main{
  width: 99%;
}

header {
  background-image: url("imagenes/cabecera.jpg");
  height: 100px;
  background-size: 1000px;
}

div#h2cabecera{
  top: 40px;
  position: relative;
  left: 50px;
  color: white;
}

p#barra{
  left: 500px;
  position: relative;
  top: 20px;
}


ul#enlaces_cabecera{
  top: 50px;
  position: relative;
  background-color: rgb(20, 20, 66);
  width: 800px;
  height: 35px;
  border-radius: 5px;
  left: 5px;
}

header ul li{
  padding: 5px;
}




aside#lateral_izquierdo article{
  background-color: rgb(164, 181, 244);
  margin-left: 10px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: 600px;
  width: 200px;
}

aside#lateral_izquierdo{
  float: left;
}




li#texto_cabecera{
  color: rgb(177, 177, 226);
  position: relative;
  top: 6px;
  background-color: rgb(57, 98, 160);
  display: inline-block;
}

p#texto_sobremi{
  height: 24px;
  background-color: rgb(129, 129, 216);
  position: relative;
  top: 35px;
}

img#imagen_postal{
  position: relative;
  top: 30px;
  height: 50px;
}

div#texto_informacion1{
  position: relative;
  left: 65px;
  top: -15px;
}




p#categorias_izquierda{
  height: 24px;
  background-color: rgb(129, 129, 216);
  position: relative;
  top: 20px;
}

ul#categorias_cabecera{
  position: relative;
  top: 30px;
}

p#categorias_izquierda :hover{
  background-color: white;
}




div#enlaces_izquierda{
  height: 24px;
  background-color: rgb(129, 129, 216);
  position: relative;
  top: 45px;
}

ul#enlaces_cabecera1{
  background-color: rgb(164, 181, 244);
  position: relative;
  top: 20px;
}




div#archivo_izquierda{
  height: 24px;
  background-color: rgb(129, 129, 216);
  position: relative;
  top: 165px;
}

ul#archivo_cabecera{
  background-color: rgb(164, 181, 244);
  position: relative;
  top: 10px;
}

div#archivo_izquierda :hover{
  background-color: white;

}


section{
  float: left;
  width: 65%;
  position: relative;
  top: 40px;
  padding-left: 40px;
}


aside#lateral_izquierdo article#capitulo1 h3{
  margin-bottom: 10px;
}

aside#lateral_izquierdo article#autor{
  margin-top: 5px;
}


aside article a{
  display: block;
}

article.bloque_externo h2 {
  background-color: rgb(255, 255, 255);
}


article.bloque_externo {
  width: 100%;
  float:left;
  border-width: 5px;
  border-style: solid;
  border-color: lightsteelblue;
  background-color: rgb(255, 255, 255);
  margin: 2px;
  text-align: left;
}


h2#ultimo{
  background-color: rgb(188, 200, 242);
}

article.bloque_externo h2 {
  text-align: left;
}


article div.bloque_interno {
  font-size: 12px;
  float:left; 
  margin: 10px;
}


article div.bloque_interno p{
  font-size: 15px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}


section article div.bloque_interno h2 {
  text-align: left;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 15px;
  color: lightskyblue;
}


.no_float{
  clear:both;
}


footer {
  width: 100%;
  background-color: lightblue;
  height: 60px;
  padding-top: 5px;
  text-align: center;
  top: 50px;
  position: relative;
}


a:hover{
  color: white;
}

li#texto_cabecera:hover{
  background-color: white;
  color: orange;
}