div#b1 {
    width: 137px;
    margin: 10px;
    background-color: red;
}

div#b2 {
    position: absolute;
    left: 85px;
    top: 17px;
    background-color: yellow;
}

div#b3 {
    width: 137px;
    margin: 10px;
    background-color: red;
}